/* You can add global styles to this file, and also import other style files */
:root{
    --base-clr: #e6e6e6;
    --line-clr: #42434a;
    --hover-clr: #b2b7cc;
    --text-clr: #242427;
    --accent-clr: #5e63ff;
    --secondary-text-clr: #797e96;
    --text-box-background-clr: #36384b;
    --button_hover: #333;
}

*{
    margin: 0;
    padding: 0;
}

body{
    min-height: 100vh;
    min-height: 100dvh;
    background-color: var(--base-clr);
    color: var(--text-clr);
    font-family: 'Poppins', sans-serif;
}